BOT_TOKEN = "7425885712:AAGPtPr8p_E25UWFMmugC6gNUhL_"

# Sudo Users
ADMINS = "7465263190 6520271722"

# Database Channel ID
CHANNEL_DB = -1002600691638

# MongoDB 
DATABASE_URL = "mongodb+srv://nct:<db_password>@nct.kdga08u.mongodb.net/?retryWrites=true&w=majority&appName=nct"
DATABASE_NAME = "fsub"

FORCE_SUB_1 = -1002198826537
# FORCE_SUB_2 ; FORCE_SUB_3 More...
FORCE_SUB_2 = -1002434512913
FORCE_SUB_3 = -1002680930073
