BOT_TOKEN = "7425885712:AAHxeCWl5tyP-knELKgtT_vSIxbv04uDaw"

# Sudo Users
ADMINS = "7465263190 6520271722"

# Database Channel ID
CHANNEL_DB = -1002832289869

# MongoDB 
DATABASE_URL = "mongodb+srv://nct:<db_password>@nct.kdga08u.mongodb.net/?retryWrites=true&w=majority&appName=nct"
DATABASE_NAME = "fsub"

FORCE_SUB_1 = -1002533807798
# FORCE_SUB_2 ; FORCE_SUB_3 More...
FORCE_SUB_2 = -1002198826537
FORCE_SUB_3 = -1002434512913
